<!--
/**********************************************
Nama File : kantaya.css
Fungsi    : Style tampilan standar web kantaya.
Dibuat    :	
 Tgl.     : 30-10-2001
 Oleh     : AS
 
Revisi 1	:	
 Tgl.     :
 Oleh     :
 Revisi   :

**********************************************/
-->
<STYLE TYPE="text/css">
<!--
    A:link {text-decoration: underline; color: #003399;}
    A:visited {text-decoration: underline; color: #003399;}
    A:active {text-decoration: underline; color: #000000;}
    A:hover {text-decoration: underline; color: #000000;}
    A.done {text-decoration: line-through !important;}
           .done {text-decoration: line-through !important;}
           
	BODY {background: #eeeeee;}
	body { font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; font-size: 10pt; }
	pre { font-family: Verdana,Lucida Console, monospace; font-size: 10pt; }
	tt { font-family: Verdana,Lucida Console, monospace; font-size: 10pt; }
	td { font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; font-size: 10pt; }

	TABLE {background: #eeeeee; spacing: 1; }
	TD.judul1 {font-family: Verdana,Arial,Helvetica,sans-serif; background: #225F95; color: white; font-size: 12pt; font-weight: bold; }
	TD.judul2 {font-family: Verdana,Arial,Helvetica,sans-serif; background: #CCCCFF; color: black; font-size: 10pt; font-weight: bold; }
	TD.judul3 {font-family: Verdana,Arial,Helvetica,sans-serif; background: #CCCCFF; color: black; font-size: 8pt; font-weight: bold; }	
	
	TD.isi1 {font-family: Verdana,Arial,Helvetica,sans-serif; background: #eeeeee; color: black; font-size: 8pt; }
	TD.isi2 {font-family: Verdana,Arial,Helvetica,sans-serif; background: #ffffff; color: black; font-size: 8pt; }
	TD.isi3 {font-family: Verdana,Arial,Helvetica,sans-serif; background: #CCCCFF; color: black; font-size: 8pt; }	
-->
</STYLE>


