<STYLE TYPE="text/css">
<!--
    A:link {text-decoration: underline; color: #003399;}
    A:visited {text-decoration: underline; color: #003399;}
    A:active {text-decoration: underline; color: #000000;}
    A:hover {text-decoration: underline; color: #000000;}
    A.done {text-decoration: line-through !important;}
           .done {text-decoration: line-through !important;}
           
	BODY {background: #eeeeee;}
	body { font-family: Geneva,Arial,Helvetica,sans-serif; font-size: 10pt; }
	pre { font-family: Lucida Console, monospace; font-size: 10pt; }
	tt { font-family: Lucida Console, monospace; font-size: 10pt; }
	td { font-family: Geneva,Arial,Helvetica,sans-serif; font-size: 8pt; }

	TABLE {background: #eeeeee; spacing: 1; }
	TD.judul1 {background: #225F95; color: white; font-size: 12pt; font-weight: bold; }
	TD.judul2 {background: #CCCCFF; color: black; font-size: 12pt; font-weight: bold; }
	TD.judul3 {background: #CCCCFF; color: black; font-size: 10pt; font-weight: bold; }

-->
</STYLE>


